[submodule "build/emscripten-deps/ft2"]
	path = build/emscripten-deps/ft2
	url = http://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "build/emscripten-deps/SDL2"]
	path = build/emscripten-deps/SDL2
	url = https://github.com/spurious/SDL-mirror.git
