*.o
*.d
*.a
*~
*.pbf
test/test
test/emscripten/test.html*
test/emscripten/test.data
test/emscripten/test.js
test/emscripten/internal.zip
test/win
test/*.log
test/*.png
test/*.sh
test/data/settings.cfg
build/internal.zip
*.trace
engine.vim
engine.bc

# put this here yourself
include/nuklear.h

